<div class="container mt-5 h4">
    <div class="row">
        Project Details
        <hr class="hr bg-secondary border-2 border-top border-secondary" />
    </div>
    <button class="action-button btn btn-sm mx-auto" (click)="onViewProjects()">Back</button>
</div>
<div *ngIf="project" class="container mt-5 details-container">
    <div class="card mb-3 card">
        <div class="card-header h4 card-header-text">Project Details</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Project Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ project.projectName }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Project Start Date</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ project.projectStartDate }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Project End Date</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ project.projectEndDate }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Project Description</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ project.projectDescription }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Project Created By</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ project.projectCreatedBy }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Project Assigned To</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ project.projectAssignedTo }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>