<div class="container mt-5 h4">
    <div class="row">
        Project Details
        <hr class="hr bg-secondary border-2 border-top border-secondary" />
    </div>
</div>
<div *ngIf="projectDetails" class="container mt-5 details-container">
    <div class="row details-row">
        <hr class="bg-secondary border-2 border-secondary" />
    </div>
    <div class="card mb-3 card">
        <div class="card-header h4 card-header-text">Project Details</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Project Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ projectDetails.projectName }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Last Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ projectDetails.projectStartDate }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ projectDetails.projectStartDate }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Password</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ projectDetails.projectStartDate }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">User Role</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ projectDetails.projectStartDate }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Contact Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ projectDetails.projectStartDate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>