<div class="container mt-5 h4">
    <div class="row">
        Projects List
        <hr class="hr bg-secondary border-2 border-top border-secondary" />
    </div>
</div>
<div class="container mt-5 table-container">
    <table class="table table-striped table-bordered custom-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th> Details</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody *ngIf="projects$ | async as projects">
            <tr *ngFor="let project of projects | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };">
                <td>{{ project.projectName }}</td>
                <td>{{ project.projectStartDate }}</td>
                <td>{{ project.projectEndDate }}</td>
                <td><button class="action-button btn btn-sm mx-auto d-block" (click)="onViewProject(project)">View
                        Details</button></td>
                <td><button class="action-button btn btn-sm mx-auto d-block" (click)="onUpdateProject(project)">Update
                        Project</button></td>
            </tr>
        </tbody>
    </table>
    <pagination-controls
        (pageChange)="currentPage = $event"
        [autoHide]="true"
        previousLabel="Prev"
        nextLabel="Next"
        class="my-3 d-flex justify-content-center">
    </pagination-controls>
</div>