.form-background-color {
    background-color: #eef6f1;
}

form label{
    color: #053b8f!important;
}

.form-container {
    margin-top: 0px !important;
    padding-top: 35px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 30px; 
}

.required {
    color: red;
}

.h4 {
    font-size: 1.5rem;
}

.hr {
    margin-top: 19px;
}

.submit-button {
    background-color: #0000b3;
    color: #fff;
}
