.h4 {
    font-size: 1.5rem;
}

.hr {
    margin-top: 19px;
}

th {
    background-color: #eef6f1;
    color: #053b8f;
}

.table-container {
    margin-top: 0px !important;
    padding-left: 0px;
    padding-right: 0px;
}