<div class="container mt-5 h4">
    <div class="row">
        User Details
        <hr class="hr bg-secondary border-2 border-top border-secondary" />
    </div>
    <button class="action-button btn btn-sm mx-auto" (click)="onViewUsers()">Back</button>
</div>

<div *ngIf="user" class="container mt-5 details-container">
    <div class="card mb-3 card">
        <div class="card-header h4 card-header-text">User Details</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">First Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.firstName }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Last Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.lastName }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.emailAddress }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Password</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.password }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">User Role</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.userRole }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Contact Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ user.contactNumber }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>