form label {
    color: #053b8f !important;
}

.login-form-container {
    // margin-top: 0px !important;
    padding-top: 35px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    border: 2px solid #0000b3;
}

.required {
    color: red;
}

.submit-button {
    background-color: #0000b3;
    color: #fff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 200px; 
}